body {
    width: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    padding: 1rem;
    color: var(--bs-white);
    background-color: var(--bs-gray);
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    min-height: 100%;
}

aside {
    background-color: var(--bs-gray);
    min-width: 20%;
}

aside ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

aside ul li {
    background-color: var(--bs-gray);
    color: var(--bs-white);
    padding: 1rem;
    cursor: pointer;
    transition: .5s;
}

aside ul li.active, aside ul li:hover {
    filter: brightness(.7);
    transition: .5s;
}

#main-content {
    padding: 2rem;
}

#container-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-login .card {
    min-width: 30%;
}

.error-msg {
    color: var(--bs-danger);
}